@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face{
    font-family: 'MTV';
    src:url(../fonts/MTV.woff),
        url(../fonts/MTV.eot);
    font-weight:normal;
    font-style:normal;
}

:root{
    --preto: #0C0B03;
    --branco: #FFFFFA;

    --YLroxo: #9B5DE6;
    --YLamarelo: #FDE441;
    --YLrosa:#F15BB5;
}

*{
    list-style: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    background-color: var(--branco);
}

a{
    text-decoration: none;
}

.MTVfont{
    font-family: "MTV", sans-serif;
}

.TITLEfont{
    font-family: "EB Garamond", serif;
}


/* 
    .:: NAVBAR ::.
 */

    nav.navbar{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) , transparent);

        backdrop-filter: blur(5px);

        position: absolute;
        right: 0;
        left: 0;

        z-index: 999;
    }

    nav.navbar a.navbar-brand img{
        height: 50px;

        filter: saturate(0%);
        opacity: 100%;

        transition: all 200ms;
    }

        nav.navbar a.navbar-brand img:hover{
            transform: scale(1.15);
            filter: saturate(100%);
        }
        nav.navbar a.navbar-brand img:active{
            transform: scale(1.05);
            opacity: 80%;
        }

    nav.navbar a.nav-link{
        color:var(--branco);
        font-size: .9rem;
        font-weight: 600;
        font-variant: small-caps;
        text-shadow:
        1px 1px 0px black,
        -1px 1px 0px black,
        1px -1px 0px black,
        -1px -1px 0px black,
        0px 0px 0px var(--YLroxo);

        opacity: 100%;


        transition: all 200ms;
    }

        nav.navbar a.nav-link:hover{
            color: var(--YLamarelo);
            font-weight: 700;
            text-shadow:
            1px 1px 0px black,
            -1px 1px 0px black,
            1px -1px 0px black,
            -1px -1px 0px black,
            3px 0px 0px var(--YLroxo);

            transform: scale(1.15);
        }

            nav.navbar a.nav-link:hover::after{
                content: 'Tv';
                
                position: absolute;
                right: 3px;
                top: 1.3rem;

                color: var(--YLrosa);
                font-family: "Comic Sans MS", "Comic Sans", cursive;
                font-size: .6rem;
                text-shadow: 
                1px 1px 0px black,
                -1px 1px 0px black,
                1px -1px 0px black,
                -1px -1px 0px black;

                transform: rotate(-10deg);
            }
        
        nav.navbar a.nav-link:active{
            transform: scale(1.05);
            opacity: 80%;
        }

/* 
    .:: FOOTER ::.
*/

    footer.YLPfooter{
        background-color: var(--preto);
        padding: 60px 0;

        color: var(--branco);
    }

        footer.YLPfooter .FOTinfo-title{
            margin-bottom: 20px;
            
            font-weight: 500;
        }

            footer.YLPfooter .STUinfo .FOTinfo-title{
                font-size: 1.3rem;
            }

            footer.YLPfooter .YLinfo .FOTinfo-title{
                font-size: 1.5rem;
            }

        footer.YLPfooter .FOTinfo-text{
            margin-bottom: 5px;

            font-size: .9rem;
            font-weight: 300;
        }

        footer.YLPfooter .FOTinfo-yList{
            display: flex;
            gap: 25px;
        }

            footer.YLPfooter .FOTinfo-yList .FOTinfo-text{
                font-size: 1rem;
            }

        footer.YLPfooter a{
            color: var(--branco);
            display: inline-block;

            transition: all 200ms , color 150ms;
        }

            footer.YLPfooter a:hover{
                color: var(--YLrosa);
                text-decoration: underline;
                
                transform: scale(1.05);
            }

            footer.YLPfooter a:active{
                color: var(--YLroxo);
                
                transform: scale(.95);
            }

        footer.YLPfooter .bi{
            font-style: normal;
        }

/* 
    .:: ALGUNS PADRÕES ::.
*/

        section.allScreen{
            height: 100vh;
            max-height: 900px;
            padding: 100px;
        }

        section.allScreen .section-title{
            padding-bottom: 20px;
            margin-bottom: 20px;
            font-variant: small-caps;

            color: var(--preto);
            font-size: 3.5rem;
            font-weight: 500;

        }

            section.allScreen .section-title::before{
                content: '#';
                font-weight: 600;
                font-size: 3rem;
            }

        section.allScreen .section-text{
            margin-bottom: 30px;

            color: var(--preto);
            font-size: 1.1rem;
            font-weight: 400;
        }