<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static' , filename='img/YL-logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/normalize.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style.css')}}">
    {% block pageCss %} {% endblock %}
    <title> YL | {% block pageTitle%} {% endblock %} </title>
</head>
<body>
    
    <!-- .:: NAVBAR ::. -->
    <nav class="navbar container-xxl navbar-expand-md">
        <div class="container-md d-flex">
            
          <a class="navbar-brand" href="/homepage">
            <img src="{{url_for('static' , filename='img/YL-logo.png')}}" alt="">
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">MC VV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Yun Li</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tokyo Marui</a>
              </li>
            </ul>
          </div>
          
        </div>
      </nav>



    {% block pageContent %} 
    
    {% endblock %}


    

    <footer class="YLPfooter container-xxl">
        <div class="container-md">

            <div class="row g-5">
                <div class="STUinfo col-4">
                    <a href="https://github.com/EstupendoG" target="_blank" class="FOTinfo-title">
                        <i class="bi bi-github"> EstupendoG </i>
                    </a>

                    <p class="FOTinfo-text">
                        Conheça mais dos projetos deste Dev, acesse o GitHub de EstupendoG logo a cima!
                    </p>

                    <p class="FOTinfo-text">
                        Copyright &copy EstupendoG
                    </p>

                </div>
                <div class="YLinfo col-8">
                    <h3 class="FOTinfo-title">
                        Mais sobre YunLi
                    </h3>

                    <p class="FOTinfo-text">
                        YunLi possui projetos recentes em desenvolvimento!
                    </p>

                    <p class="FOTinfo-text">
                        YunLi seguindo-o nas redes sociais mais usadas por ele!
                    </p>

                    <div class="FOTinfo-yList">
                        <a href="https://open.spotify.com/intl-pt/artist/6ab8tnQvr8sXXIpSZCrbQs" target="_blank" class="FOTinfo-text"> 
                            <i class="bi bi-spotify"> Yung Lixo</i> 
                        </a>
                        <a href="https://www.youtube.com/channel/UCm5TtnejcDYLHZxSQcg8QHw" target="_blank" class="FOTinfo-text"> 
                            <i class="bi bi-youtube"> Yung Lixo</i> 
                        </a>
                        <a href="https://www.twitch.tv/vitongemaplys" target="_blank" class="FOTinfo-text"> 
                            <i class="bi bi-twitch"> vitongemaplys</i> 
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>